:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --Read-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}
body {
  font-family: "Roboto", sans-serif;
  height: 10000px;
}

/* start Navbare */
.navbar {
  background-color: var(--dark-color);
}
.navbar-nav .navbar-link {
  color: rgb(241, 243, 245);
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  background-color: var(--green-color);
}
.main-btn {
  background-color: var(--Read-color);
  color: var(--yellow-color);
  padding: 0.5rem 1rem;
}
.main-title::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.navbar .search {
  border-left: 1px solid var(--green-color);
}
.navbar .navbar-toggler {
  color: white;
  font-size: 20px;
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
/* .navbar .navbar-toggler[aria-expanded="true"] {
  color: var(--green-color);
} */
/* End Navbare */

/* Start landibg */
.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}
/* End landibg */
/* Start Feature */
.feature .icon-hldear {
  height: 200px;
}
.feature .icon-hldear svg {
  left: 50%;
  transform: translateX(-50%);
}
.feature .icon-hldear .number {
  font-size: 12rem;
  color: var(--section-color);
}
.feature .icon-hldear .icon {
  color: var(--green-color);
}
.feature h4 {
  color: var(--yellow-color);
}
/* END Feature */

/* stare our-worke */

.our-worke {
  background-color: var(--section-color);
}
.our-worke ul .active {
  background-color: var(--Read-color);
  color: var(--yellow-color);
}
.our-worke ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-worke ul li:not(.active):hover {
  color: var(--Read-color);
}
.our-worke .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.our-worke .box::before {
  content: attr(data-worke);
  position: absolute;
  background-color: rgba(51 209 204 /78%);
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  transition: 0.3s;
  font-size: 1.5rem;
  transform: translateY(calc(-100% - 5px));
}
.our-worke .box:hover::before {
  transform: translateY(0);
}
/* End our-worke */
/* Start stuff */
.stuff .discriptiopn {
  max-width: ;
}
/* End stuff */
