:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
}
body {
  font-family: "Roboto", sans-serif;
}

/* start Navbare */
.navbar {
  /* background-color: var(--dark-color); */
}
.navbar-nav .navbar-link {
  color: rgb(241, 243, 245);
}
.navbar .navbar-nav .navbar-link.active,
.navbar .navbar-nav .navbar-link:focus,
.navbar .navbar-nav .navbar-link:hover {
  color: var(--green-color);
}

/* End Navbare */ ;
